@import "./normalize.scss";
@import "./var.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: $fontFamily;
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 400;
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-user-select: none;
}
